{
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ".hintrc",
      "options": { "trailingComma": "none" }
    }
  ],
  "eslintIntegration": true,
  "bracketSpacing": true,
  "useTabs": false
}
