$theme-color: rgb(122.77 241.32 167.54);
$select-color: rgb(151.95 242.01 185.07);
$background-color: rgb(33 33 33);
$glass-stroke-color: rgb(92 92 92 / 36.1%);
$glass-surface-color: rgb(26 26 26 / 94.1%);
$glass-inset-shadow: rgb(214 214 214 / 11.9%);
