/* 品牌主题色（青绿色） */
$theme-color: rgb(122.77 241.32 167.54);

/* 选中和悬停强调色（浅青绿色） */
$select-color: rgb(151.95 242.01 185.07);

/* 页面深灰背景色  */
$background-color: rgb(33 33 33);

/* 毛玻璃边框描边色 / Glassmorphism border stroke color */
$glass-stroke-color: rgb(92 92 92 / 36.1%);

/* 毛玻璃面板背景色 / Glassmorphism panel surface color */
$glass-surface-color: rgb(26 26 26 / 94.1%);

/* 毛玻璃内阴影色 / Glassmorphism inset shadow color */
$glass-inset-shadow: rgb(214 214 214 / 11.9%);
