.page {
  height: calc(100vh - 4.35rem);

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.code {
  width: 100%;
  text-align: center;

  p {
    font-size: 7.5rem;
    font-weight: 600;
    color: var(--theme-color);
  }
}
