.pop-up {
  display: inline-block;
  pointer-events: none;
  animation: pop-up-translate 0.6s ease forwards;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

.profile {
  margin-top: calc((100vh - 300px) / 2 - 4.35rem);
  width: 50%;
}

.headline {
  gap: 1rem;
  display: grid;
  margin-top: calc((100vh - 300px) / 2 - 4.35rem);
  width: 50%;
  height: fit-content;
  max-height: 300px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  width: 2.25rem;
  height: 2.25rem;
  color: white;
}

@for $i from 0 through 20 {
  .delay-#{$i} {
    animation-delay: #{0.1 * $i}s;
  }
}

@keyframes pop-up-translate {
  0% {
    transform: translateY(1em);
    opacity: 0;
    pointer-events: none;
  }

  60% {
    transform: translateY(-0.2em);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    pointer-events: auto;
  }
}
