.pop-up {
  display: inline-block;
  animation: pop-up-translate 0.6s ease forwards;
  will-change: transform, opacity;
}

.profile {
  margin-top: calc((100vh - 300px) / 2 - 4.35rem);
  width: 50%;
}

.headline {
  display: flex;
  margin-top: calc((100vh - 300px) / 2 - 4.35rem);
  width: 50%;
  max-height: 300px;
}

@for $i from 0 through 40 {
  .delay-#{$i} {
    animation-delay: #{0.05 * $i}s;
  }
}

@keyframes pop-up-translate {
  0% {
    transform: translateY(1em);
    opacity: 0;
  }

  60% {
    transform: translateY(-0.2em);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}
